
/*
using System;

namespace Chapter2Exercises
{
	class MainClass
	{
		public static void Main(string[] args)
		{

			int a = 5;
			int b = 10;
			int oldA = a;
			a = b;
			b = oldA;


		}
	}
}

*/


/*

using System;

namespace Chapter2Exercises
{
    class MainClass
    {
        public static void Main(string[] args)
        {

            string firstname;
            string lastname;
            byte age;
            char gender;
            int employeeNumber;


        }
    }
}

*/
/*

using System;

namespace Chapter2Exercises
{
	class MainClass
	{
		public static void Main(string[] args)
		{
			
            char copyrightCharacter = '\u00A9';
			
			Console.WriteLine(copyrightCharacter);
            Console.WriteLine("Her er skrevet noget: {0}  ", copyrightCharacter);
			Console.WriteLine("   {0}", copyrightCharacter);
            Console.WriteLine("  {0} {0}", copyrightCharacter, copyrightCharacter);
            Console.WriteLine(" {0}   {0}", copyrightCharacter, copyrightCharacter);
			Console.WriteLine("{0} {0} {0} {0}", copyrightCharacter);
		}
	}
}
*/
/*

using System;

namespace Chapter2Exercises
{
	class MainClass
	{
		public static void Main(string[] args)
		{
			Console.WriteLine("   oo        oo");
			Console.WriteLine("  oo oo    oo oo");
            Console.WriteLine(" oo    ooooo   oo");
			Console.WriteLine("oo       o       oo");
            Console.WriteLine("oo              oo");
            Console.WriteLine("  oo          oo");
            Console.WriteLine("    oo      oo");
            Console.WriteLine("      oo  oo");
            Console.WriteLine("        oo");
		}
	}
}

*/

/*

using System;

namespace Chapter2Exercises
{
	class MainClass
	{
		public static void Main(string[] args)
		{
			string hallo = "He\"\"llo";
			string verden = "World";
			object obj = hallo + " " + verden;
			Console.WriteLine(obj);
			string halloVerden = (string)obj;
			Console.WriteLine(halloVerden);
		}
	}
}

*/
/*

using System;

namespace Chapter2Exercises
{
    class MainClass
    {
        public static void Main(string[] args)
        {
            string hallo = "Hello";
            string verden = "World";
            object obj = hallo + " " + verden;
            Console.WriteLine(obj);
            string halloVerden = (string)obj;
            Console.WriteLine(halloVerden);
        }
    }
}

*/

/*

using System;

namespace Chapter2Exercises
{
	class MainClass
	{
		public static void Main(string[] args)
		{
            bool ismale = true;
            bool genderChosen = false;
            Console.WriteLine("Type male or female");

            string gender = Console.ReadLine();

            while (!genderChosen)
            {
                if (gender == "male")
                {
                    ismale = true;
                    genderChosen = true;
                }
                else if (gender == "female")
                {
                    ismale = false;
                    genderChosen = true;
                }
                else
                {
                    Console.WriteLine("Type male or female");
                    gender = Console.ReadLine();
                }
            }
			Console.WriteLine("ismale = " + ismale);
			
		}
	}
}


*/


/*

using System;

namespace Chapter2Exercises
{
	class MainClass
	{
		public static void Main(string[] args)
		{
			char character = 'a';
			Console.WriteLine(character);
			// Unicode character code in a hexadecimal format
            character = '\u0048'; 
            Console.WriteLine(character);
		}
	}
}
 
*/

/*
using System;

namespace Chapter2Exercises
{
	class MainClass
	{
		public static void Main(string[] args)
		{
            int numberInHex = 0x100;
			Console.WriteLine(numberInHex);
		}
	}
}
*/

/*

using System;

namespace Chapter2Exercises
{
	class MainClass
	{
		public static void Main(string[] args)
		{
			Console.WriteLine("Hello World!");

            double firstRealNumber = 124.123213123;
            double secondRealNumber =124.123213123999; // The result is not zero so the program must be comparing down to more than 6 decimals and 0.000001 has only 6 decimals

			Console.WriteLine(firstRealNumber - secondRealNumber); // 



		}
	}
}

*/




/*

using System;

namespace Chapter2Exercises
{
	class MainClass
	{
		public static void Main(string[] args)
		{
            float five = 5f;
            Console.WriteLine(five);

			double newFive = 5f;
			Console.WriteLine(newFive);

			decimal decimalFive = 5m;
            Console.WriteLine(decimalFive);

			float negativeFloatFive = -5.01f;
			Console.WriteLine(negativeFloatFive);

			double negativeDoubleFive = -5.01d;
			Console.WriteLine(negativeDoubleFive);

			decimal negativeDecimalFive = -5.01m;
			Console.WriteLine(negativeDecimalFive);

            float floatThirtyfour = 34.567839023f;  // float can only represent this number down to five decimals
			Console.WriteLine(floatThirtyfour);

			double doubleThirtyfour = 34.567839023d;
			Console.WriteLine(doubleThirtyfour);

			decimal decimalThirtyfour = 34.567839023m;
			Console.WriteLine(decimalThirtyfour);

			float floatTwelve = 12.345f;  // float can only represent this number down to the first five decimals
			Console.WriteLine(floatTwelve);

			double doubleTwelve = 12.345d;
			Console.WriteLine(doubleTwelve);

			decimal decimalTwelve = 12.345m;
			Console.WriteLine(decimalTwelve);

			float floatBelowNineThousand = 8923.1234857f;  // float can only represent this number down to the first three decimals
			Console.WriteLine(floatBelowNineThousand);

			double doubleBelowNineThousand = 8923.1234857d;
			Console.WriteLine(doubleBelowNineThousand);

			decimal decimalBelowNineThousand = 8923.1234857m;
			Console.WriteLine(decimalBelowNineThousand);

			
            float floatBigScaryNumber = 3456.091124875956542151256683467f;  // 3456.091
			Console.WriteLine(floatBigScaryNumber);

			double doubleBigScaryNumber = 3456.091124875956542151256683467d;// 3456.09112487596
			Console.WriteLine(doubleBigScaryNumber);

			decimal decimalBigScaryNumber = 3456.091124875956542151256683467m; // 3456.0911248759565421512566835    Decimal is theonly format that is fully precise.
			Console.WriteLine(decimalBigScaryNumber);



			
			
		}
		
	}
}

*/



/*

using System;

namespace Chapter2Exercises
{
    class MainClass
    {
        public static void Main(string[] args)
        {
            Console.WriteLine("Hello World!");

            sbyte sbyteExampleOne = 52;
            byte byteExampleOne = 130;
            sbyte sbyteExampleTwo = -115;
            int intExampleOne = 4825932;
            byte byteExampleTwo = 97;
            short shortExampleOne = -10000;
            ushort ushortExampleOne = 20000;
            byte byteExampleThree = 224;
            int intExampleTwo = 970700000; 
            byte byteExampleFour = 112;
            sbyte sbyteExampleThree = -44;
            int intExampleThree =  -1000000;
            short shortExampleTwo = 1990;
            long longExampleOne = 123456789123456789l;



        }
    }
}
*/
